.title{
    color: hsl(0, 0%, 0%);
    text-align: center;
    padding: 10px;
}
.date{
    text-align: right;
}
body{
    background-color: rgb(106, 98, 245);
    display: grid; 
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); 
    min-height: auto;
    margin: auto;
}
.container {
    background-color: #dcc8dd;
    max-width: 1200px; 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 30px; 
    padding-right: 30px;
    padding-bottom: 50px;
    box-sizing: border-box; 
}

.par{
    text-indent: 2.5em;
    line-height: 3;
    font-size: 16px;
}
.textright{
    text-align: right;
}


.button-style {
    background-color: rgb(112, 201, 30);
    color: rgb(3, 2, 2);
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }