.title{
    color: hsl(0, 0%, 0%);
    text-align: center;
    padding: 10px;
}
.date{
    text-align: right;
}
body{
    background-color: rgb(55, 117, 158);
    display: grid; 
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); 
    min-height: auto;
    margin: auto;
}
.container {
    background-color: azure;
    width: 800px; 
    margin-left: auto; 
    margin-right: auto;
    padding: 50px; 
}

.par{
    text-indent: 2.5em;
    line-height: 3;
    font-size: 16px;
}
.textright{
    text-align: right;
}


.button-style {
    background-color: rgb(117, 161, 222);
    color: rgb(3, 2, 2);
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  .head{
    font-size: 30px;
    text-align: center;
  }